html {
    overflow-y: scroll;
}

.gradient {
  background: rgba(67,233,123,1);
  background: -moz-linear-gradient(right, rgba(67,233,123,1) 0%, rgba(37,219,131,1) 100%);
  background: -webkit-gradient(right top, left top, color-stop(0%, rgba(67,233,123,1)), color-stop(100%, rgba(37,219,131,1)));
  background: -webkit-linear-gradient(right, rgba(67,233,123,1) 0%, rgba(37,219,131,1) 100%);
  background: -o-linear-gradient(right, rgba(67,233,123,1) 0%, rgba(37,219,131,1) 100%);
  background: -ms-linear-gradient(right, rgba(67,233,123,1) 0%, rgba(37,219,131,1) 100%);
  background: linear-gradient(to left, rgba(67,233,123,1) 0%, rgba(37,219,131,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43e97b', endColorstr='#25db83', GradientType=1 );
}

.green-color {
  background: rgb(39,220,131);
  fill:green;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
